@import url("lake/stylesheet.css");
@import url("Kalam_Bold/stylesheet.css");
@import url("Oswald_Regular/stylesheet.css");





	
    




body{
	
	}
a:link{
	text-decoration:none;
	color:#000;
}
a:visited{
	text-decoration:none;
	color:#000;
}
.header{
	background-color: #FFF;
	height: 110px;
	width: 1230px;
}
.logo{
	height: 100px;
	width: 150px;
	float: left;
	margin: auto;
	background-color: #FFF;
	padding-bottom: 10px;
	}
.slogan {
	background-color: #FFF;
	width: 150px;
	height: 80px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin: auto;
	font-family: lake;
}
.search {
	height: 110px;
	width: 620px;
	float: left;
}

/* SEARCH AREA*/
  
.inputWithIcon input[type=text]{
    width:450px;
    border:2px solid #aaa;
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
	height:50px;
  }
  
 .inputWithIcon input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type=text]{
    padding-left:30px;
  }
  
  .inputWithIcon{
    position:relative;
	padding-top: 25px;
  }
  
  .inputWithIcon i{
	position: absolute;
	left: 0;
	top: 8px;
	padding: 9px 8px;
	color: #aaa;
	transition: .3s;
	margin-top: 32px;
  }
  
  .inputWithIcon input[type=text]:focus + i{
	color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i{
    background-color:#aaa;
    color:#fff;
    padding:9px 4px;
    border-radius:4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type=text]:focus + i{
    color:#fff;
    background-color:dodgerBlue;
  }
 









#search_button {
	cursor: pointer;
	position: absolute;
	height: 50px;
	border: 0px solid #FFF;
	margin-left: -3px;
	width: 150px;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 0px 0px 10px #ccc;
	color: #FFF;
	background-color: #e67e22;
	font-weight: bold;
	margin-top: 9px;
	top: 24px;
}
.saving_money {
	background-color: #FFF;
	height: 100px;
	width: 200px;
	float: right;
	padding-bottom: 10px;
}
#slogan_kalite {
	text-align: center;
	font-family: "Oswald Regular";
	
}

/*
navigator
*/
#navigation{
	margin-top: 5px;
	width: 1230px;
		
	}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family:kalam
}

#navigation li a:hover:not(.active) {
    background-color: #ddd;
}

#navigation li a.active {
    color: white;
    background-color: #FFB135;
}


/*login panel*/
#login_panel{
	height:44px;
	width:550px;
	float:right;
	
	}
#login_panel_enter{
	height:24px;
	width:35px;
	float:right;
	color: #666;
	text-align:right;
	padding-top:20px;
	font-family:"Oswald Regular";
	padding-right:5px;
	
	}
#login_panel_register{
	height:24px;
	width:70px;
	float:right;
	color: #666;
	text-align:right;
	padding-top:20px;
	font-family:"Oswald Regular";
	}
#login_panel_basket{
	padding-top:4px;
	height:40px;
	width:44px;
	float:right;	
	}
#login_panel_basket i{
	float:right;
	margin-top:10px;
	}
#login_panel_loginout{
	height:24px;
	padding-top:20px;
	width:44px;
	float:right;
	text-align:right;	
	font-family:"Oswald Regular";
	}
#login_panel_customer_name{
	
	height:24px;
	min-width:10px;
	float:right;	
	text-align:right;
	padding-top:20px;
	font-family:"Oswald Regular";
	}
#login_panel_welcome_word{
	height:24px;
	width:100px;
	float:right;	
	text-align:right;
	padding-top:20px;
	padding-right:10px;
	font-family:"Oswald Regular";
	
	}	



/*
content
*/
.content{
	background: #FFF;
	min-height: 100px;
	margin-top: 5px;
	padding: 10px;
	width: 1240px;
}
#welcome_word{
	
	width:200px;
	height:100px;
	padding-bottom:34;
	float:left;
	margin-left:10px;
	margin-right:10px;
	
}
#explanation {
	
	max-width:400px;
	height:100px;
	float:left;
}

/*
Main_products
*/

#main_products{
	min-height: 200px;
	padding-left: 50px;
	font-family: "Oswald Regular";
	margin-top: 20px;
	width: 1180px;
}
.product{
	width: 500px;
	height: 200px;
	border: 2px solid #ccc;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px #ccc;
	margin-right: 20px;
	float: left;
	}

.products_picture{
	width:200px;
	height:200px;
	float:left;
	}
.products_expression{
	width:300px;
	height:200px;
	float:left;
	}
.target_reached_word{
	height: 22px;
	width: 300px;
	font-family: "Oswald Regular";
	text-align: left;
	padding-top: 8px;
	}
.target_reached{
	height: 25px;
	width: 275px;
	}
.product_introduction{
	width: 300px;
	height: 120px;
	}
.outter{
	background:#FFF;
	height:25px;
	width:250px;
	border:solid 0px #000;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px #ccc;
	background:#ccc;
}
.innerright{
	height:22px;	
	border-right:solid 1px #000;
	border-radius: 5px 0px 0px 5px;
	background: #e67e22;
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', 
	endColorstr='#fbdf93',GradientType=0 );
	text-align:center;
	padding-top:3px;
}
.innerleft{
	height:22px;	
	border-right:solid 1px #000;
	border-radius: 5px 0px 0px 5px;
	background: #e67e22;
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', 
	endColorstr='#fbdf93',GradientType=0 );
	text-align:center;
	padding-top:3px;
}
.product_info{
	width: 300px;
	font-family: "Oswald Regular";
	height: 65px;
	}
.join_us{
	width: 300px;
	height: 50px;
}

					
			
