
.next_icon{	
    position:relative;
  }
#left_icon {
    position:absolute;
    left:0; 
    color:#aaa;
	
 }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  #left_icon{
      transform: translate(0px, 150px);
  }
}
@-moz-document url-prefix() {
#left_icon{
       transform: translate(0px, -250px);
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
 #left_icon{
     transform: translate(0px, -250px);
  }  
}
_::-webkit-full-page-media, _:future, :root #left_icon {

  transform: translate(0px, 150px)
}




#right_icon {
    position:absolute;
    right:0; 
    color:#aaa;
	
  }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
#right_icon{
      transform: translate(0px, 150px);
  }
}
@-moz-document url-prefix() {
#right_icon{
       transform: translate(0px, -250px);
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
 #right_icon{
     transform: translate(0px, -250px);
  }  
}
_::-webkit-full-page-media, _:future, :root #right_icon {

  transform: translate(0px, 150px)
}
 
